@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-blue: #44d8e6;
  --primary-dark1: #000;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
  font-family: "Roboto Condesed", sans-serif;
}

/************* NAVBAR***************/
nav{
  z-index: 2;
}

.logo{
  width: 5rem;

}

/*--------- Menu links---------*/


nav a.nav-link{
  letter-spacing: 0.0375px;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li >a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important ;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
  }
}


.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-blue);
}


/************* HEADER ***************/

.header-wraper{
  position: relative;
  background: url(fondo2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  opacity: 0.8;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-dark1);
  text-transform: uppercase;
}

/*----------Typed text-----*/

.typed-text{
  font-size: 2rem;
  color: var(--primary-dark1);
}

/*----------Header main offer button-----*/
.btn-main-offer {
  border: 3px solid var(--primary-dark1) ;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-dark1);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-dark1);
  color: var(--primary-white);
  transition: .2s ease-in-out;

}

/*---------- Particles JS-----*/

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media()
